<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body >
    <h1>This is Home page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem similique facere doloribus nemo, officiis quas officia, facilis odio obcaecati aspernatur eos velit adipisci doloremque? Maxime vel quibusdam quasi reprehenderit debitis voluptas fugit quo laudantium deserunt assumenda atque cum ullam nemo, id odit velit? Saepe sapiente, doloremque atque animi eveniet, ab inventore, architecto excepturi magnam distinctio repellendus! Laudantium id quia qui expedita ab minima veritatis iure praesentium earum, ipsa exercitationem suscipit magni vel veniam aut dolor aperiam esse laboriosam ad, cupiditate sit temporibus harum eos corrupti. Perferendis nam quisquam libero tempore ullam voluptatum delectus suscipit consequatur ut, cupiditate praesentium, deserunt voluptate!</p>
    
</body>
</html>