<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>
<body>
    <div>Resister</div>
    <form action="/api/user/resister"method="POST">

        <div>
            <label>Name</label>
            <input type="text"name="name"id="name"/>
        </div>
        <div>
            <label>Email</label>
            <input type="text"name="email"id="email"/>
        </div>
        <button>Resister</button>
    </form>
    
</body>
</html>